type fingerprint_dir, file_type;
type fingerprint_data, file_type;
type fingerprint_metadata, file_type;
type fingerprint_sysfs, sysfs_type, fs_type;
