allow hal_fingerprint_default firmware_file:dir search;
allow hal_fingerprint_default firmware_file:file { getattr open read };
allow hal_fingerprint_default tee_device:chr_file { open read write ioctl };
allow hal_fingerprint_default fingerprint_dir:dir rw_dir_perms;
allow hal_fingerprint_default fingerprint_dir:file create_file_perms;
allow hal_fingerprint_default fingerprint_device:chr_file { open read write ioctl };
allow hal_fingerprint_default fingerprint_metadata:file create_file_perms;
allow hal_fingerprint_default fingerprint_metadata:file rw_file_perms;
